Source: interactivity 
Section: gnu-r
Priority: optional
Maintainer: Jeroen Ooms <jeroenooms@gmail.com>
Build-Depends: r-base-dev, xvfb, xauth, xfonts-base, r-base-core,
 debhelper (>> 4.1.0), cdbs
Standards-Version: 3.9.1

Package: r-cran-interactivity
Architecture: any
Depends: r-base-core (>= 2.12.1), ${shlibs:Depends}
Description: The interactivity R package from CRAN.
